<div class="container">
  <div class="row">

    <h1>API:Url Shortener</h1>
    <div class="cont">
      <p>1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response. </p>
      <p>2) If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the </p>
      <p>JSON response will contain an error instead.</p>
      <p>3) When I visit that shortened URL, it will redirect me to my original link. </p>
    </div>
    <div class="ex">
      <h3>Example usage:</h3>
      <p>
        http://www.mainsite.com/new/longUrl</p>
      <p>http://www.mainsite.com/shortUrl </p>
      <h3>Example output:</h3>

      <p>Redirection to the Site</p>

    </div>
  </div>
</div>